.contents.row.initial
  %p.user_page
    = "Everybady commit"
.contents.row
  - @tweets.each do |tweet| 
    = render partial: "tweet", locals: { tweet: tweet}
.contents.row.initial
  = paginate(@tweets)