.content.row
  .container
    = form_with(model: @tweet, local: true) do |form|
      %h3 Commit
      = render partial: "form", locals: { form: form }
      本タスク累積時間：
      = @tweet.errors.full_messages
