.top_block
  .bg
  .bg.bg2
  .bg.bg3
  .content
    %h1 たいていの事は20時間で身につく。
    %br
    %h1 1万時間の努力はプロの皆さんにお任せして、ぼくらはまず20時間、意識を集中し、知的に、明確な目標を持って努力することから始めよう。
    %br
    %h2 自分にとって価値のある結果をわずかな努力で手にいれるのだ。
    %br
    %h3 ジョシュ・カウフマン
    %br
    %a.btn-circle-3d-dent{:href => "tweets.index_path"} WELCOME

