%svg{:height => "0", :width => "0"}
  %defs
    %lineargradient#cl1{:gradientunits => "objectBoundingBox", :x1 => "0", :x2 => "1", :y1 => "0", :y2 => "1"}
      %stop{"stop-color" => "#618099"}
      %stop{:offset => "100%", "stop-color" => "#8e6677"}
    %lineargradient#cl2{:gradientunits => "objectBoundingBox", :x1 => "0", :x2 => "0", :y1 => "0", :y2 => "1"}
      %stop{"stop-color" => "#8e6677"}
      %stop{:offset => "100%", "stop-color" => "#9b5e67"}
    %lineargradient#cl3{:gradientunits => "objectBoundingBox", :x1 => "1", :x2 => "0", :y1 => "0", :y2 => "1"}
      %stop{"stop-color" => "#9b5e67"}
      %stop{:offset => "100%", "stop-color" => "#9c787a"}
    %lineargradient#cl4{:gradientunits => "objectBoundingBox", :x1 => "1", :x2 => "0", :y1 => "1", :y2 => "0"}
      %stop{"stop-color" => "#9c787a"}
      %stop{:offset => "100%", "stop-color" => "#817a94"}
    %lineargradient#cl5{:gradientunits => "objectBoundingBox", :x1 => "0", :x2 => "0", :y1 => "1", :y2 => "0"}
      %stop{"stop-color" => "#817a94"}
      %stop{:offset => "100%", "stop-color" => "#498a98"}
    %lineargradient#cl6{:gradientunits => "objectBoundingBox", :x1 => "0", :x2 => "1", :y1 => "1", :y2 => "0"}
      %stop{"stop-color" => "#498a98"}
      %stop{:offset => "100%", "stop-color" => "#618099"}
      