$white: #ffffff;

  //mixin
  @mixin boxBase($margin: 0, $padding: o) {
    margin: $margin;
    padding: $padding;
  }

  @mixin boxSize($height: 10rem, $width: 10rem) {
    height: $height;
    width: $width;
  }

.image-title{
	font-size: 14px;
	color: gray;
}
#tweet_text{
	margin-top : 20px;
}

.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	margin: 1em auto;
}
.cp_tab > input[type='radio'] {
	@include boxBase;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
  display: none;
  
}
.cp_tab .cp_tabpanel {
  display: none;
  span{
    color: $white;
  }
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
  display: block;
  
}
.cp_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
  border-bottom: 0;
  color: $white;
}
.cp_tab > label:hover,
.cp_tab > input:focus + label {
	color: #0066cc;
}
.cp_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid $white;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.cp_tab .cp_tabpanel {
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.cp_tab {
		width: 100%;
		font-size: 0.8em;
	}
	.cp_tab label {
		padding: 0.5em;
	}
}


//円グラフ
@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@keyframes load{0%{stroke-dashoffset:0}}
.progress {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    &>li {
        display: inline-block;
        position: relative;
        text-align: center;
        color: $white;
        font-family: Lato;
        font-weight:100;
        margin: 2rem;
        &:before {
            content: attr(data-name);
            position: absolute;
            width: 100%;
            bottom: -2rem;
            font-weight: bold;
            font-size: 12px;
        }
        &:after {
            content: attr(data-percent);
            position: absolute;
            width: 100%;
            top: 3.7rem;
            left: 0;
            font-size: 2rem;
            text-align: center;
        }
    }
    svg {
        @include boxSize;
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            transform: rotate(-90deg);
        }
        &:nth-child(2) path {
            fill: none;
            stroke-width: 25;
            stroke-dasharray: 629;
            stroke: $dark;
            opacity:.9;
            animation: load 3s;
        }
    }
}


.container-show {
  background-color: rgba(0, 0,0,0.3);
  color: $white;
  @include boxSize(450px, 100%);
  padding: 20px 10px 10px 10px;
}
